html
  head
    title greenPaddle
    link(href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet')
    block scripts
      script(src='../static/index.js')
    block style
      style 
        include ../static/style.css
  body
    logo.logo
        img(src='../static/image/logo.png' alt='CODE')
    navbar.nav
        ul#header
            li
              a.tag(href='/') Home
            li
              a.tag(href='book') Select a Cycle
            li
              a.tag(href='accessories') Add Accessories
            li
              a.tag(href='faqs') FAQ's
            li
              a.tag(href='contact') Contact Us
    button#scrolltotop(onclick='scrolltotop()')
      i.bx.bx-up-arrow-alt
    block content

    block foot
        section#termconition
        .term
            .link
                ul
                    li
                        img#linkimg(src='../static/image/logo.png' alt='logo')
                    li vharshil.mehta@gmail.com
                    li 9152346802
            .link
                ul
                    li
                        h3 Links
                    li Terms and Conditions
                    li Privacy policy
                    li FAQs
            .link
                ul
                    li
                        h3 Subscribe
                    li Get out latest news and updates
                    li
                        input#linkmail(type='email' name='name' placeholder='Enter your Email')
                        i.bx.bxs-send
        section.footer
          .last
            a(href='https://facebook.com')
              img(width='30px' height='30px' src='../static/image/facebook.jpg' alt='facebook logo')
          .last
            a(href='https://instagram.com')
              img(width='30px' height='30px' src='../static/image/instagram.jpg' alt='facebook logo')
          .last
            a(href='https://twitter.com')
              img(width='30px' height='30px' src='../static/image/twitter.jpg' alt='facebook logo')
        footer
            .center
                | Copyright &copy; www.greenPaddle.com  All rights reserved!

    