extends base.pug

block scripts
    script(src='../static/index.js')
block style 
    style
        include ../static/contact.css
        include ../static/style.css

block content 
    section#Contact
        h1 Let's have a Chat
        #contact-box
            form(action='/contact',method="post")
                .contactbtn
                    .c
                      button.con 9152346903
                    .c
                      button.con vharshil.mehta@gmail.com
                .form-group
                    label(for='name') Name: 
                    input#name(type='text' name='name' placeholder='Enter your name')
                .form-group
                    label(for='email') Email: 
                    input#email(type='email' name='email' placeholder='Enter your email')
                .form-group
                    label(for='phone') Phone Number: 
                    input#phone(type='phone' name='phone' placeholder='Enter your phone')
                .form-group
                    label(for='message') What are you looking for: 
                    textarea#message(name='message' cols='30' rows='10')
                button.btn Submit
