extends base.pug

block scripts
    script(src='../static/index.js')
block style 
    style
        include ../static/style.css

block content 
    section.home
        #homeinfo
            div
                h1#tagline Rent cycle of your choice
                .bookbutton
                    button#book
                      a#booka(href='book') Book Now
      
            div
                button#b1.b(onclick='b1()') ...
                button#b2.b(onclick='b2()') ...
                button#b3.b(onclick='b3()') ...
        #heading
            h1 Choose from wide range of Cycles
    section#topic
        .container
            img(src='../static/image/nongearednew.png' alt='nongeared')
            h3 Non-Geared
        .container
            img(src='../static/image/geared new.png' alt='geared')
            h3 Geared
        .container
            img(src='../static/image/electricccc.png' alt='electric')
            h3 Electric
        .container
            img(src='../static/image/twoseaternew.png' alt='premium')
            h3 Premium
    section#td
        h1 Customize your Duration
        #time
            .duration
                h2 Daily
            .duration
                h2 Weekly
            .duration
                h2 Monthly
            .duration
                h2 Yearly
    section#choose
        h1 Why choose greenPaddle
        .chooseus
            .features
              i.bx.bxs-time
              p 24/7 Availibility
            .features
              i.bx.bxs-home
              p Home Delivery
            .features
              i.bx.bxs-chat
              p Chat support
            .features
              i.bx.bxs-wrench
              p Road side Assistance
    section#Contact
        h1 Let&apos;s have a Chat
        #contact-box
            form(action="/contact",method="post")
                .contactbtn
                    .c
                      button.con 9152346903
                    .c
                      button.con vharshil.mehta@gmail.com
                .form-group
                  label(for='name') Name: 
                  input#name(type='text' name='name' placeholder='Enter your name')
                .form-group
                  label(for='email') Email: 
                  input#email(type='email' name='email' placeholder='Enter your email')
                .form-group
                  label(for='phone') Phone Number: 
                  input#phone(type='phone' name='phone' placeholder='Enter your phone')
                .form-group
                  label(for='message') What are you looking for: 
                  textarea#message(name='message' cols='30' rows='10')
                button.btn Submit

