<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>greenPaddle</title>
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- <link rel="stylesheet" href="style.css"> -->
    
    
    style
        include ../static/style.css
    script
        include ../static/index.js


</head>

<body>
    <logo class="logo">

        <img src="../static/image/logo.png" alt="CODE">

    </logo>
    <navbar class="nav">

        <ul id="header">
            <li><a class="tag" href="project2.html">Home</a></li>
            <li><a class="tag" href="book.html">Select a Cycle</a></li>
            <li><a class="tag" href="accessories.html">Add Accessories</a></li>
            <li><a class="tag" href="faq.html">FAQ's</a></li>
            <li><a class="tag" href="contact.html">Contact Us</a></li>
        </ul>
    </navbar>
    <button id="scrolltotop" onclick="scrolltotop()"><i class='bx bx-up-arrow-alt'></i></button>
    <section class="home">
        <div id="homeinfo">
          
       
            <div >
            <h1 id="tagline">Rent cycle of your choice</h1>
            <div class="bookbutton">
            <button id="book"><a id="booka" href="book.html">Book Now</a></button>
        </div>
            <!-- <h1>More than over 100 cycles</h1>
            <h1>Delivered all over Mumbai</h1> -->
            
        </div>
        <div>
            
            <button id="b1" class="b" onclick="b1()">...</button>
            <button id="b2" class="b" onclick="b2()">...</button>
            <button id="b3" class="b" onclick="b3()">...</button>
        </div>
            
       

    </section>
    <div id="heading">
        <h1>Choose from wide range of Cycles</h1>
        </div>
    <section id="topic">

        

        <div class="container">
            <img src="../static/image/nongearednew.png" alt="nongeared">
            <h3>Non-Geared</h3>

        </div>
        <div class="container">
            <img src="../static/image/geared new.png" alt="geared">
            <h3>Geared</h3>
            
        </div>
        <div class="container">
            <img src="../static/image/electricccc.png" alt="electric">
            <h3>Electric</h3>
          
        </div>
        <div class="container">
            <img src="../static/image/twoseaternew.png" alt="premium">
            <h3>Premium</h3>
          

        </div>

    </section>



    <section id="td">

        <h1>Customize your Duration</h1>
        <div id="time">

        <div class="duration">
            <h2>Daily</h2>
        </div>
        <div class="duration">
            <h2>Weekly</h2>
        </div>
        <div class="duration">
            <h2>Monthly</h2>
        </div>
        <div class="duration">
            <h2>Yearly</h2>
        </div>
    </div>

    </section>
    <section id="choose">
        <h1>Why choose greenPaddle</h1>
        <div class="chooseus">
        <div  class="features">
            <i class='bx bxs-time'></i>
            <p>24/7 Availibility</p>
        </div >
        <div class="features">
            <i class='bx bxs-home'></i>
            <p>Home Delivery</p>
        </div>
        <div class="features">
            <i class='bx bxs-chat'></i>
            <p>Chat support</p>
        </div>
        <div class="features">
            <i class='bx bxs-wrench'></i>
            <p>Road side Assistance</p>
        </div>
    </div>
    </section>
    <section id="Contact">
        <h1>Let's have a Chat</h1>
        
        <div id="contact-box">
            <form action="">
                <div class="contactbtn">
                    <div class="c">
                <button class="con">9152346903</button>
            </div>
            <div class="c">
                <button class="con">vharshil.mehta@gmail.com</button>
            </div>
            </div>
                <div class="form-group">

                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                <div class="form-group">
                    <label for="phone">Phone Number: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your phone">
                </div>
                <div class="form-group">
                    <label for="message">What are you looking for: </label>
                    <textarea name="message" id="message" cols="30" rows="10"></textarea>
                </div>
                <button class="btn">Submit</button>
            </form>
        </div>

    </section>
    <section id="termconition">
        <div class="term">
            <div class="link">
                <ul>
                    <li><img id="linkimg" src="../static/image/logo.png" alt="logo"></li>
                    <li>vharshil.mehta@gmail.com</li>
                    <li>9152346802</li>
                </ul>
                
            </div>
            <div class="link">
                <ul>
                    <li><h3>Links</h3></li>
                    <li>Terms & Conditions</li>
                    <li>Privacy policy</li>
                    <li>FAQs</li>
                </ul>

            </div>
            <div class="link">
                <ul>
                    <li><h3>Subscribe</h3></li>
                    <li>Get out latest news and updates</li>
                    <li ><input type="email" name="name" id="linkmail" placeholder="Enter your Email"><i class='bx bxs-send'></i></li>
                </ul>

            </div>
        </div>
    </section>
   

    <footer>
        <div class="center">
            Copyright &copy; www.greenPaddle.com  All rights reserved!
        </div>
    </footer>


    
</body>

</html>